Magic 271485
Revision 2011.01

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 1 48 1366 695 188 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/or1k/orsoc/mini_soc/sim/rtl-sim/or1200_soc_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 859999.000000 860000.000000
cursor 1680000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 1
; marker line index
markerPos 31

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByRising


addGroup "G1"
activeDirFile "" "/or1k/orsoc/mini_soc/sim/rtl-sim/or1200_soc_tb.fsdb"
addSignal -h 15 /or1200_soc_tb/i_or1200_soc_top/wb_ocm_ack_o
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_ocm_adr_i[31:0]
addSignal -h 15 -holdScope wb_ocm_cyc_i
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_ocm_dat_i[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_ocm_dat_o[31:0]
addSignal -h 15 -holdScope wb_ocm_err_o
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_ocm_sel_i[3:0]
addSignal -h 15 -holdScope wb_ocm_stb_i
addSignal -h 15 -holdScope wb_ocm_we_i
addSignal -h 15 -holdScope wb_rdm_ack_i
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_rdm_adr_o[31:0]
addSignal -h 15 -holdScope wb_rdm_cyc_o
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_rdm_dat_i[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_rdm_dat_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_rdm_sel_o[3:0]
addSignal -h 15 -holdScope wb_rdm_stb_o
addSignal -h 15 -holdScope wb_rdm_we_o
addSignal -h 15 -holdScope wb_rim_ack_i
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_rim_adr_o[31:0]
addSignal -h 15 -holdScope wb_rim_cyc_o
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_rim_dat_i[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_rim_dat_o[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wb_rim_sel_o[3:0]
addSignal -h 15 -holdScope wb_rim_stb_o
addSignal -h 15 -holdScope wb_rim_we_o
addSignal -h 15 /or1200_soc_tb/i_or1200_soc_top/on_chip_ram_top_inst/wb_we_i
addSignal -h 15 -holdScope wb_cyc_i
addSignal -h 15 -holdScope wb_stb_i
addSignal -h 15 /or1200_soc_tb/i_or1200_soc_top/cpu_clk
addSignal -h 15 -holdScope wb_clk
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/or1k/orsoc/mini_soc/sim/rtl-sim/or1200_soc_tb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/or1200_soc_tb"
"/or1200_soc_tb/i_or1200_soc_top"
"/or1200_soc_tb/i_or1200_soc_top/on_chip_ram_top_inst"

SCOPE_LIST_BEGIN
"/or1200_soc_tb"
"/or1200_soc_tb/i_or1200_soc_top"
"/or1200_soc_tb/i_or1200_soc_top/on_chip_ram_top_inst"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


